@{
    ViewData["Title"] = "Home Page";
    @model IEnumerable<Product>
}
<div class="flex-container flex-justify-between flex-align-center flex-wrap">
    @foreach(var product in Model)
    {
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="@product.ImageUrl" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">@product.Title</h5>
            <p class="card-text">@product.Description</p>
            <a asp-action="Details" asp-controller="Home" asp-area="Customer" class="btn btn-primary" asp-route-id="@product.Id">Details</a>
          </div>
        </div>
    }
</div>


